    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Zaloguj się</p>
                <button class="delete" aria-label="close" @onclick="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="box">
                    <p class="is-info">Konto</p>
                    <input class="input is-medium is-primary" type="text" placeholder="Wprowadź Konto">
                    <p class="is-info">Wartość</p>
                    <input class="input is-medium is-primary" type="text" placeholder="Wprowadź Wartość">
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" @onclick="close">Zaloguj</button>
                <button class="button">Cancel</button>
            </footer>
        </div>
    </div>

@code {
    [Parameter]
    public bool Login { get; set; }

    private bool displayAdmin;

    public void close()
    {
        this.displayAdmin = false;
        StateHasChanged();
    }
}
