@if (displayAdmin)
{
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Zaloguj się</p>
                <button class="delete" aria-label="close" @onclick="close"></button>
            </header>
            <section class="modal-card-body">
                <div class="box">
                    <p class="is-info">Login</p>
                    <input class="input is-medium is-primary" type="text" placeholder="Wprowadź Login">
                    <p class="is-info">Hasło</p>
                    <input class="input is-medium is-primary" type="text" placeholder="Wprowadź Hasło">
                </div>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" @onclick="close">Zaloguj się</button>
                <button class="button is-success" @onclick="close">Zarejestruj się</button>
                <button class="button">Cancel</button>
            </footer>
        </div>
    </div>
}

@code {
    private bool displayAdmin;

    public void close()
    {
        this.displayAdmin = false;
        StateHasChanged();
    }
}
